<div class="container">
  <div class="form-group">
    <button class="btn btn-md" ng-click="addChord()">Add Chord</button>  
  </div>
  <h3 translate="home.SEARCH_TITLE"></h3>
  <pre>{{newChord | json}}</pre>  
  <div class="form-group">
    <div class="transposeArea" ng-bind-html="newChord.content"></div>
    <button class="btn" ng-click="transposeTheText();">Transpose Text</button>  
  </div>
  <textarea ng-model="newChord.artist" auto-direction auto-direction-scope-var="test"></textarea>
  <div class="form-group">
  	<label>Chord id</label>
  	<div class="form-control">
  		<input type="text" ng-model="chordId" />
  	</div>
  </div>
  <div class="form-group">
  	<button class="btn btn-defaults" ng-click="getChordById()">Search chord by id</button>
  </div>

  <div class="form-group">
    <label for="searchBy">Search By</label>
    <select id="searchBy" ng-model="searchBy" id="" class="form-control">
      <option value="artist" selected>artist</option>
      <option value="title">title</option>
    </select>
  </div>
  <div class="form-group">
    <label for="searchText">Text</label>
    <input class="form-control" type="text" ng-model="searchText" />
  </div>  

  <button class="form-control btn btn-primary" ng-click="searchChord(searchBy,searchText)" >Search Chord</button>
  <div class="container">
    <pre ng-click="increaseChordHitCount(resultJson[0])">
    {{resultJson | json}}
  </pre>
  </div>

  <div class="form-group">
    Hello {{login.getFullName()}}
    <div class="control-label">Login Via</div>
    <div class="btn-group">
      <button class="btn btn-success" ng-click="loginSocial('facebook')">Facebook</button>
      <button class="btn btn-warning" ng-click="loginSocial('google')">Google</button>
    </div>
  </div>
  <div class="form-group">
    <h4>Or by Email & Password</h4>
      <div class="control-label">Email</div>
      <input class="form-control" ng-model="email" type="email" placeholder="email..." />
    <div class="control-label">Password</div>
    <input  class="form-control" ng-model="password" type="password" placeholder="password..." />
  
    
  </div>
  <button class="btn btn-primary pull-right" ng-click="loginEmail(email,password)">Login</button>
  <button class="btn btn-primary pull-right" ng-click="login.createUser(email,password)">Sign Up</button>
  <button class="btn btn-primary pull-right" ng-click="login.resetPassword(email)">Reset Password</button>
  
  <br/><br/>
  <div class="form-group">
    <div class="control-label">Add to Favorites</div>
    <p>Check the checkbox if you want to add, otherwise it's remove</p>
    <div class="form-control">
      <input type="checkbox" ng-model="isAddFlag" />
      
    </div>
    <div class="btn btn-primary" ng-click="addToFavorites()">Favorite Test</div>
  </div>
  

  <div class="form-group">
    <div class="btn btn-default" ng-click="getFavorites()">Get Favorites</div>
    <pre ng-bind="favorites | json"></pre>
  </div>

  <br/><br/>
  <div class="form-group">
    <div class="control-label">Get Top Chords</div>
    <div class="btn btn-primary" ng-click="getTopChords(2)">Get Them!</div>
    <div ng-repeat="chord in topChords track by $index">{{chord}}</div>
  </div>

  <br/><br/>
  <div class="form-group">
    <div class="control-label">Rate Chord</div>
    <button class="btn btn-primary" ng-click="rateChord()">Click to rate</button>
  </div>
  <br><br>
  
  
</div>